{% extends 'base.html' %}

{% block content %}
<style>
    /* Styles similaires à ceux précédemment utilisés */
    table {
        width: 100%;
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
    th, td {
        padding: 12px 15px;
        text-align: left;
        border-bottom: 1px solid #009879;
    }
    th {
        background-color: #009087;
        color: #ffffff;
        text-transform: uppercase;
    }
    tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }
    tr:last-of-type {
        border-bottom: 2px solid #009879;
    }
    tr:hover {
        background-color: #009087;
    }
    @keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px); /* Légère translation vers le haut */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Position originale */
    }

    

    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-10px); /* Légère élévation */
        }
        60% {
            transform: translateY(-5px); /* Légère élévation */
        }
    }

    h2 {
        text-align: center;
        font-size: 35px;
        color: #009087; /* Couleur du texte */
        animation: fadeIn 1s ease-in-out, bounce 0.5s ease; /* Ajout de l'animation de fondu et rebond */
        margin: 20px 0; /* Ajout d'une marge pour espacer le texte des éléments adjacents */
        font-weight: bold; /* Gras pour le texte */
        transition: color 0.5s ease; /* Transition de couleur lors du survol */
    }

    h2:hover {
        color: #007066; /* Couleur lorsque le texte est survolé */
    }
</style>

<h2>Livres empruntés par {{ lecteur.username }}</h2>
<table>
    <tr>
        <th>Titre</th>
        <th>Auteur</th>
        <th>Date de publication</th>
        <th>Genre</th>
        <th>Format</th>
        <th>État</th>
        <th>Date de prêt</th> <!-- Colonne ajoutée pour la date de prêt -->
    </tr>
    {% for livre in livres %}
    <tr>
        <td>{{ livre.titre }}</td>
        <td>{{ livre.auteur }}</td>
        <td>{{ livre.date_publication }}</td>
        <td>{{ livre.get_genre_display }}</td>
        <td>{{ livre.get_format_display }}</td>
        <td>{{ livre.pret|yesno:"Prêté, Disponible" }}</td>
        <td>{{ livre.date_pret|date:"d F Y" }}</td> <!-- Date de prêt formatée -->
    </tr>
    {% empty %}
    <tr>
        <td colspan="7">Aucun livre trouvé.</td>
    </tr>
    {% endfor %}
</table>

<a href="{% url 'afficher_lecteurs' %}" class="button">Retour à la liste des lecteurs</a>
{% endblock %}
